.PlayerPortrait {
    width: 5.20833333333%;
    height: 9.25925925926%;
    position: absolute;
    background-color: #5f8fdd;
    border-radius: 50%;
}

.PlayerShield {
    position: absolute;
    width: 35%;
    height: 35%;
    background: linear-gradient(#919191, #adadad, #9e9e9e);
    border: 2px solid #b2b2b2;
    text-align: center;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.PlayerPower {
    position: absolute;
    width: 35%;
    height: 35%;
    background: #a84343;
    border: 2px solid #661d1d;
    text-align: center;
    border-radius: 50%;
}

.PlayerShield .ShieldAmount, .PlayerPower .BattlePower, .MerlinUse, .MordredUse, .MerlinButton, .MordredButton, .ReadyButton{
    line-height: 1.5;
    font-weight: bold;
    text-shadow: 0 0 1px black;
    font-size: 12pt;
}

/*Player 1 formatting*/
.Player1 {
    left: 23%;
    margin-left: -2.5%;
    bottom: 4%;
}
.Player1 .PlayerShield {
    bottom: 0;
    right: 0;
}
.Player1 .PlayerPower {
    bottom: 0;
    left: 0;
}
.Player1Field { 
    width: 53.0520833333%;
    height: 13.7296296296%;
    left: 53%;
    margin-left: -26.5260416666%;
    bottom: 16%;
}
.Player1Hand{
    width: 53.0520833333%;
    height: 13.7296296296%;
    left: 53%;
    margin-left: -26.5260416666%;
    bottom: 2%;
}

/*Player 2 formatting*/
.Player2 {
    right: 20.5%;
    margin-left: -2.5%;
    top: 3.5%;
}
.Player2 .PlayerShield {
    bottom: 0;
    right: 0;
}
.Player2 .PlayerPower {
    bottom: 0;
    left: 0;
}
.Player2Hand {
    width: 53.0520833333%;
    height: 13.7296296296%;
    left: 47%;
    margin-left: -26.5260416666%;
    top: 2%;
}
.Player2Field {
    width: 53.0520833333%;
    height: 13.7296296296%;
    left: 47%;
    margin-left: -26.5260416666%;
    top: 16%;
}

/*Player 3 formatting*/
.Player3 {
    left: 3%;
    margin-top: -4.5%;
    top: 21%;
}
.Player3 .PlayerPower {
    bottom: 0;
    left: 0;
}
.Player3 .PlayerShield {
    bottom: 0;
    right: 0;
}
.Player3Hand {
    width: 9.43148148148%;
    height: 68.5185185185%;
    top: 60%;
    margin-top: -20%;
    left: 1%
}
.Player3Field {
    width: 9.43148148148%;
    height: 68.5185185185%;
    top: 60%;
    margin-top: -20%;
    left: 10%;
}

/*Player 4 formatting*/
.Player4 {
    right: 3%;
    margin-top: -4.5%;
    bottom: 13%;
}
.Player4 .PlayerShield {
    bottom: 0;
    left: 0;
}
.Player4 .PlayerPower {
    bottom: 0;
    right: 0;
}
.Player4Hand {
    width: 9.43148148148%;
    height: 68.5185185185%;
    top: 43%;
    margin-top: -20%;
    right: 1%;
}
.Player4Field {
    width: 9.43148148148%;
    height: 68.5185185185%;
    top: 43%;
    margin-top: -20%;
    right: 10%;
}

.Card {
    width: 5.30520833333%;
    height: 13.7296296296%;
}

.StoryDeck {
    position: absolute;
    bottom: 2%;
    right: 1%;
    background-color: red;
}

.AdventureDeck {
    position: absolute;
    bottom: 2%;
    left: 1%;
    background-color: red;
}

.Field {
    position: absolute;
    background: yellow;
}

.Hand {
    position: absolute;
    background: red;
}

.MerlinButton{
    position: absolute;
    right: 11%;
    width: 7%;
    height: 7%;
    bottom: 14%;
    background: green;
}

.MordredButton{
    position: absolute;
    right: 11%;
    width: 7%;
    height: 7%;
    bottom: 5%;
    background: red;
}

.ReadyButton{
    position: absolute;
    left: 20%;
    width: 6%;
    height: 7%;
    bottom: 16%;
    background: blue;
}

.MiddleArea{
    position: absolute;
    text-align: center;
    width: 60%;
    height: 40%;
    top: 30%;
    left: 20%;
    background: green;
}

.card {
    float: left;
    width: 7%;
    height: 75%;
    margin:2px;
    background-color: blue;
    border-radius: 0.3em;
}
.midCard {
    width: 10%;
    height: 40%;
    margin:2px;
    margin-top: 10%;
    background-color: blue;
    border-radius: 0.3em;
    display: inline-block;
}