.PlayerPortrait {
    width: 5.20833333333%;
    height: 9.25925925926%;
    position: absolute;
    background-color: #5f8fdd;
    border-radius: 50%;
}

.PlayerShield {
    position: absolute;
    width: 35%;
    height: 35%;
    background: linear-gradient(#919191, #adadad, #9e9e9e);
    border: 2px solid #b2b2b2;
    text-align: center;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.PlayerPower {
    position: absolute;
    width: 35%;
    height: 35%;
    background: #a84343;
    border: 2px solid #661d1d;
    text-align: center;
    border-radius: 50%;
}

.PlayerShield .ShieldAmount, .PlayerPower .BattlePower .MerlinUse .MordredUse .MerlinButton .MordredButton{
    line-height: 1.5;
    font-weight: bold;
    text-shadow: 0 0 1px black;
    font-size: 12pt;
}


.Player1 {
    left: 50%;
    margin-left: -2.5%;
    bottom: 1%;
}

.Player1 .PlayerShield {
    bottom: 0;
    right: 0;
}

.Player1 .PlayerPower {
    bottom: 0;
    left: 0;
}

.Player2 {
    left: 50%;
    margin-left: -2.5%;
    top: 1%;
}

.Player2 .PlayerShield {
    bottom: 0;
    right: 0;
}

.Player2 .PlayerPower {
    bottom: 0;
    left: 0;
}

.Player3 {
    left: 1%;
    margin-top: -4.5%;
    top: 50%;
}

.Player3 .PlayerPower {
    bottom: 0;
    left: 0;
}

.Player3 .PlayerShield {
    bottom: 0;
    right: 0;
}

.Player4 {
    right: 1%;
    margin-top: -4.5%;
    top: 50%;
}

.Player4 .PlayerShield {
    bottom: 0;
    left: 0;
}

.Player4 .PlayerPower {
    bottom: 0;
    right: 0;
}

.Card {
    width: 5.30520833333%;
    height: 13.7296296296%;
}

.StoryDeck {
    position: absolute;
    bottom: 2%;
    right: 1%;
    background-color: red;
}

.AdventureDeck {
    position: absolute;
    bottom: 2%;
    left: 1%;
    background-color: red;
}

.Field {
    position: absolute;
    background: yellow;
}

.Player1Field, .Player2Field {
    width: 53.0520833333%;
    height: 13.7296296296%;
    left: 50%;
    margin-left: -26.5260416666%;
}

.Player1Field { bottom: 18%; }

.Player2Field { top: 18%; }

.Player3Field, .Player4Field {
    width: 9.43148148148%;
    height: 68.5185185185%;
    top: 50%;
    margin-top: -20%;
}

.Player3Field { left: 10%; }

.Player4Field { right: 10%; }

.MerlinButton{
    position: absolute;
    right: 23%;
    width: 7%;
    height: 7%;
    bottom: 10%;
    background: green;
}

.MordredButton{
    position: absolute;
    right: 23%;
    width: 7%;
    height: 7%;
    bottom: 2%;
    background: red;
}